<div class="chat-fix1 active" dt="1" id="chat">
    <div class="tit-chat1"><span>Чат GameSlot</span><a href=""></a></div>
    <div class="hide-chat1">
        <div class="nav-chat1">
            <div>
                <ul>
                    <li class="active"><a href="">CSGO</a></li>
                    <li><a href="">Dota</a></li>
                    <li><a href="">ОбщиЙ</a></li>
                    <li><a href="" class="non1">Тусовка BigBadGangsters</a></li>
                </ul>
            </div>
        </div>
        <div class="ov-chat1">
            <div>
                <div class="ev-item-et1 active">
                    <div class="ll1">
                        <div class="cont-ll1">
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ll2">
                        <div class="ev-ll1"><span>Online:</span> 4502</div>
                        <div class="ct-pl11">
                            <div class="cont-ll1">
                                <p>
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ev-item-et1">
                    <div class="ll1">
                        <div class="cont-ll1">
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ll2">
                        <div class="ev-ll1"><span>Online:</span> 4502</div>
                        <div class="ct-pl11">
                            <div class="cont-ll1">
                                <p>
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ev-item-et1">
                    <div class="ll1">
                        <div class="cont-ll1">
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ll2">
                        <div class="ev-ll1"><span>Online:</span> 4502</div>
                        <div class="ct-pl11">
                            <div class="cont-ll1">
                                <p>
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ev-item-et1" id="my_hangout">
                    <div class="ll1">
                        <div class="cont-ll1">
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                            <div class="pst1">
                                <div class="ev-av"><a href=""><img src="/cached_files/img/t33.png" alt=""></a></div>
                                <div class="text-ov1">
                                    <div><a href="">SuperrrrMAN 2015</a></div>
                                    <p>Понятие политического конфликта важно приводит теоретический механизм власти. Конечно, управление политическими конфликтами обретает функциональный элемент политического процесса. Правовое государство верифицирует гносеологический христианско-демократический национализм. Континентально-европейский тип политической культуры сохраняет онтологический субъект политического процесса. Политическая легитимность интегрирует либерализм. Унитарное государство самопроизвольно.</p>
                                    <span>12:24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ll2">
                        <div class="ev-ll1"><span>Online:</span> <own id="online">4502</own></div>
                        <div class="ct-pl11">
                            <div class="cont-ll1">
                                <p>
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                    Никнейм посетителя 1
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 23
                                    Никнейм посетителя 12..
                                    Никнейм посетителя 5
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ov-ft1">
                <!--<div class="send-pst1">
                    <input type="text" placeholder="Введите сообщение...">
                    <div class="sub-st1">отправить<input type="submit" value=""></div>
                </div>-->
                <div class="autorz"><span>Для общения — авторизуйтесь</span><a href="">Авторизоваться через steam</a></div>
            </div>
        </div>
    </div>
</div>