<footer id="footer">
    <a href="" class="logo"><img src="/cached_files/img/logo-foot.png" alt=""></a>
    <div class="ct-t2">
        <div class="main-menu">
            <a href="/" class="main-1"></a>
            <ul>
                <li class="j1"><a href="/top-players/current">Топ победителей</a></li> 
                <li class="j2"><a href="/games-history/current">История игр</a></li> 
                <li class="j3"><a href="/fair-play">Честная игра</a></li> 
                <li class="j4"><a href="/bet-info">Как поставить вещи</a></li> 
                <li class="j5"><a href="https://vk.com/topic-100147635_32542068" target="_blank">FAQ</a></li> 
            </ul>
        </div>
        <a href="/store" class="store1"><span>Магазин</span></a>
    </div>
    <div class="copyr1">Site design — <a href="http://108pixels.ru/" target="_blank"><img src="/cached_files/img/copyr1.png" alt=""></a></div>
</footer>
{{include GameSlot Payment}}
{{if(client.URL != "/")}}
{{include GameSlot Chat}}
{{end}}
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32537750 = new Ya.Metrika({ id:32537750, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32537750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>