{{using GameSlot.Helpers}}
<header id="header">
    <a href="/" class="logo"><img src="/cached_files/img/logo3.png" alt=""></a>
    <a href="http://vk.com/thegameslot" target="_blank" class="link-social1">Мы в<br>соц. сетях:</a>
    <div class="r-head">
        <div class="ct-t1">
            <div class="ll1">
                {{if(!Helper.UserHelper.Authorized(client))}}
                    <a href="/login" class="steam1">Зайти через steam</a>
                {{end}}
                {{else}}
                    <div class="av-s1"><a href=""> <img src="{{=client.Session["Avatar"]}}" alt=""> <span>{{=client.Session["Name"]}}</span></a></div>
                    <ul class="tt-ul1">
                        <li><a href="/my.hangout">Тусовка</a></li>
                        <li><a href="/inventory/dota2">Инвентарь</a></li>
                        <li><a href="/comming-soon">Достижения</a></li>
                        <li class="pay1"><span>{{=Helper.UserHelper.Table.SelectByID((uint)client.Session["User"]).Wallet}}</span> <a href="" onclick="return payment_modal();">Пополнить</a></li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                {{end}}
                <div class="onl1">Online: <b id="online_users">{{=(Helper.UserHelper.GetOnlineNum() + Helper.OnlineUsers)}}</b></div>
            </div>
            <div class="rr1">
                <ul>
                    <li>язык:</li>
                    <li class="active"><a href="">Рус</a></li>
                    <li><a href="/comming-soon">Eng</a></li>
                </ul>
            </div>
        </div>
        <div class="ct-t2">
            <div class="main-menu">
                <a href="/" class="main-1"></a>
                <ul>
                    <li class="j1"><a href="/top-players">Топ победителей</a></li>
                    <li class="j2"><a href="/games-history/csgo">История игр</a></li>
                    <li class="j3"><a href="/fair-play">Честная игра</a></li>
                    <li class="j4"><a href="/bet-info">Как поставить вещи</a></li>
                    <li class="j5"><a href="https://vk.com/topic-100147635_32542068" target="_blank">FAQ</a></li>
                </ul>
            </div>
            <a href="/store" class="store1"><span>Магазин</span></a>
        </div>
        <div class="ct-t3">
            <span>Лотереи:</span>
            <a href="/game/csgo" class="j1">CS go</a>
            <a href="/game/dota2" class="j2">dota2</a>
            <a href="/game/teamfortess" class="j3">Team fortress</a>
        </div>
    </div>
</header>