<script>
    var ws = new WebSocket("ws://{{=client.Host}}/websocket/do");

    var GetMyInventoryPage, MyInventoryPage_SteamGameID = false;
    var MyGroupPageConnect, MyGroupPage_GroupID = false;
    var GroupPageConnect, GroupPage_GroupID = false;

    ws.onopen = function ()
    {
        if(GetMyInventoryPage)
        {
            ws.send("GetInventory{{=BaseFuncs.WSplit}}" + MyInventoryPage_SteamGameID);
        }
        else if (MyGroupPageConnect)
        {
            ws.send("GroupPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + MyGroupPage_GroupID);
        }
        else if(GroupPageConnect)
        {
            ws.send("GroupPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + GroupPage_GroupID);
        }
    };

    ws.onmessage = function (evt)
    {
        var data = evt.data.split("{{=BaseFuncs.WSplit}}");

        if(GetMyInventoryPage)
        {
            if (data[0] == "InventoryClosed") {
                $("div#inventory" + data[1]).html("Инвентарь закрыт!");
            }

            else if (data[0] == "Inventory") {
                var items = data[2].split(';');

                $("div#inventory_items").text("");

                var items_content = "";
                for (var i = 0; i < (items.length - 1) ; i++) {
                    var item = items[i].split('↓');
                    var name = item[0];
                    var price = item[1];
                    var image = "<img height='100px' width='100px' src='/images/{{=Configs.STEAM_ITEMS_STORAGE_JS}}" + item[2] + "/" + item[3] + "{{=Configs.STEAM_ITEMS_TYPE}}'>";
                    items_content += image + name + "[" + price + "$]<br />";
                }

                $("div#inventory_items").html(items_content);
                $("span#totalPrice").html("Шмоток: " + (items.length - 1) + " На сумму: " + data[1] + "$<br><br>");
            }
        }

        else if (MyGroupPageConnect)
        {
            if (data[0] == "UpdateGroupData") {
                GroupName = data[1];
                $("span#users_count").text(data[2]);
            }
        }

        else if(GroupPageConnect)
        {
            if (data[0] == "UpdateGroupData") {
                $("span#group_name").text(data[1]);
                $("span#users_num").text(data[2]);
            }
        }
    };
</script>