<script>
    var ws = new WebSocket("ws://{{=client.Host}}/websocket/do");

    var GetMyInventoryPage, MyInventoryPage_SteamGameID = false;
    var MyGroupPageConnect, MyGroupPage_GroupID = false;
    var GroupPageConnect, GroupPage_GroupID = false;
    var OnMainPage = false;

    var LotteryPageConnect, LotteryPage_LotteryID = false;
    var LotteryPage_GetInventory, LotteryPage_GetInventory_SteamGameID = false;

    var INVENTORY_ITEMS_NUM = 30;
    var INVENTORY_ITEMS_FROM = 0;
    var LOCAL_INVENTORY_ITEMS_NUM = 30;
    var LOCAL_INVENTORY_ITEMS_FROM = 0;

    var USERS_ITEMS_IN_INVENTORY = 0;
    var USERS_ITEMS_IN_LOCAL_INVENTORY = 0;

    var USERS_INVENTORY_SORT = 0;
    var USERS_LOCAL_INVENTORY_SORT = 0;

    var SEARCH_IN_INVENTORY = "";
    var SEARCH_IN_LOCAL_INVENTORY = "";

    var inventory_getlastpage_disabled = false;
    var inventory_getfirstpage_disabled = false;
    
    var local_inventory_getlastpage_disabled = false;
    var local_inventory_getfirstpage_disabled = false;

    var IGNORE_LOTTERY_ROULETTE_AUTO_UPDATE = false;

    var can_sound_bet_come = true;

    function sound_bet_come()
    {
        var audio = new Audio();
        audio.src = '/cached_files/audio/bet_come.mp3';
        audio.autoplay = true;

        setTimeout(function () {
            can_sound_bet_come = true;
        }, 200);
    }

    function sound_winner_setted() {
        var audio = new Audio();
        audio.src = '/cached_files/audio/winner.mp3';
        audio.autoplay = true;
    }

    $("document").ready(function () {
        $("input#search_in_steam_inventory").keyup(function ()
        {
            SEARCH_IN_INVENTORY = $("input#search_in_steam_inventory").val();
            INVENTORY_ITEMS_FROM = 0;

            inventory_getlastpage_disabled = false;
            inventory_getfirstpage_disabled = false;

            GetSteamInventory(INVENTORY_ITEMS_NUM, 2);
        });

        $("input#search_in_local_steam_inventory").keyup(function ()
        {
            console.log("searching in local...");
            SEARCH_IN_LOCAL_INVENTORY = $("input#search_in_local_steam_inventory").val();
            LOCAL_INVENTORY_ITEMS_FROM = 0;

            local_inventory_getlastpage_disabled = false;
            local_inventory_getfirstpage_disabled = false;

            GetLocalSteamInventory(LOCAL_INVENTORY_ITEMS_NUM);
        });
    });

    ws.onopen = function ()
    {
        if(GetMyInventoryPage)
        {
            GetSteamInventory(INVENTORY_ITEMS_NUM, 2);
            GetLocalSteamInventory(LOCAL_INVENTORY_ITEMS_NUM);
        }
        else if (MyGroupPageConnect)
        {
            ws.send("GroupPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + MyGroupPage_GroupID);
        }
        else if(GroupPageConnect)
        {
            ws.send("GroupPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + GroupPage_GroupID);
        }
        else if(LotteryPageConnect)
        {
            console.log("LotteryPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + LotteryPage_LotteryID);
            ws.send("LotteryPage{{=BaseFuncs.WSplit}}Connect{{=BaseFuncs.WSplit}}" + LotteryPage_LotteryID);

            if (LotteryPage_GetInventory) {
                console.log("GetInventory{{=BaseFuncs.WSplit}}" + LotteryPage_GetInventory_SteamGameID);
                MyInventoryPage_SteamGameID = LotteryPage_GetInventory_SteamGameID;
                GetSteamInventory(INVENTORY_ITEMS_NUM, 0);
                GetLocalSteamInventory(LOCAL_INVENTORY_ITEMS_NUM);
            }
        }
    };

    function SortInventoryByLowPrice(num, sort_bool)
    {
        var go = true;

        if (sort_bool == 0 && $("li#inventory_sort_by_high_price").hasClass("active") == true)
        {
            go = false;
        }
        else if (sort_bool == 1 && $("li#inventory_sort_by_low_price").hasClass("active") == true)
        {
            go = false;
        }

        if (go)
        {
            USERS_INVENTORY_SORT = sort_bool;
            INVENTORY_ITEMS_FROM = 0;
            GetSteamInventory(num, 2);
        }
        return false;
    }

    function Inventory_GetNextPage(num)
    {
        if (!inventory_getlastpage_disabled) {
            INVENTORY_ITEMS_FROM = INVENTORY_ITEMS_FROM + num;
            GetSteamInventory(num, 1);
        }

        return false;
    }

    function Inventory_GetBeforePage(num) {

        if (!inventory_getfirstpage_disabled) {
            INVENTORY_ITEMS_FROM = INVENTORY_ITEMS_FROM - num;
            GetSteamInventory(num, 1);
        }
        return false;
    }

    function Inventory_GetFirstPage(num) {

        if (!inventory_getfirstpage_disabled) {
            INVENTORY_ITEMS_FROM = 0;
            GetSteamInventory(num, 1);
        }
        return false;
    }

    function Inventory_GetLastPage(num) 
    {
        if (!inventory_getlastpage_disabled)
        {
            INVENTORY_ITEMS_FROM = USERS_ITEMS_IN_INVENTORY - num;
            GetSteamInventory(num, 1);
        }
        return false;
    }

    function SortLocalInventoryByLowPrice(num, sort_bool) {
        var local_go = true;

        if (sort_bool == 0 && $("li#local_inventory_sort_by_high_price").hasClass("active") == true) {
            local_go = false;
        }
        else if (sort_bool == 1 && $("li#local_inventory_sort_by_low_price").hasClass("active") == true) {
            local_go = false;
        }

        if (local_go) {
            USERS_LOCAL_INVENTORY_SORT = sort_bool;
            LOCAL_INVENTORY_ITEMS_FROM = 0;
            GetLocalSteamInventory(num);
        }
        return false;
    }

    function LocalInventory_GetNextPage(num) {
        if (!local_inventory_getlastpage_disabled) {
            LOCAL_INVENTORY_ITEMS_FROM = LOCAL_INVENTORY_ITEMS_FROM + num;
            GetLocalSteamInventory(num);
        }

        return false;
    }

    function LocalInventory_GetBeforePage(num) {

        if (!local_inventory_getfirstpage_disabled) {
            LOCAL_INVENTORY_ITEMS_FROM = LOCAL_INVENTORY_ITEMS_FROM - num;
            GetLocalSteamInventory(num);
        }
        return false;
    }

    function LocalInventory_GetFirstPage(num) {

        if (!inventory_getfirstpage_disabled) {
            LOCAL_INVENTORY_ITEMS_FROM = 0;
            GetLocalSteamInventory(num);
        }
        return false;
    }

    function LocalInventory_GetLastPage(num) {
        if (!local_inventory_getlastpage_disabled) {
            LOCAL_INVENTORY_ITEMS_FROM = USERS_ITEMS_IN_LOCAL_INVENTORY - num;
            GetLocalSteamInventory(num);
        }
        return false;
    }

    function GetSteamInventory(num, type)
    {
        ws.send("GetInventory{{=BaseFuncs.WSplit}}" + MyInventoryPage_SteamGameID + "{{=BaseFuncs.WSplit}}" + INVENTORY_ITEMS_FROM + "{{=BaseFuncs.WSplit}}" + num + "{{=BaseFuncs.WSplit}}" + USERS_INVENTORY_SORT + "{{=BaseFuncs.WSplit}}" + SEARCH_IN_INVENTORY);
        if (type == 1) {
            $("div#steam_inventory_pagination").addClass("active");
        }
        else if (type == 2) {
            $("div#search_in_steam_inventory_srch").addClass("active");
        }
    }

    function GetLocalSteamInventory(num, type) {
        ws.send("GetLocalInventory{{=BaseFuncs.WSplit}}" + MyInventoryPage_SteamGameID + "{{=BaseFuncs.WSplit}}" + LOCAL_INVENTORY_ITEMS_FROM + "{{=BaseFuncs.WSplit}}" + num + "{{=BaseFuncs.WSplit}}" + USERS_LOCAL_INVENTORY_SORT + "{{=BaseFuncs.WSplit}}" + SEARCH_IN_LOCAL_INVENTORY);
        if (type == 1) {
            $("div#local_steam_inventory_pagination").addClass("active");
        }
        else if(type == 2)
        {
            $("div#search_in_local_steam_inventory_srch").addClass("active");
        }
    }

    function LoadSteamInventoryData(data)
    {
        if (data[0] == "SteamInventoryClosed")
        {
            $("div#steam_inventory_loading").attr("style", "display:none;");
            $("div#steam_iventory").html($("div#steam_inventory_closed").html());
            $("div#steam_inventory_pagination").removeClass("active");
            $("div#search_in_steam_inventory_srch").removeClass("active");

            console.log('steam inventory closed');
        }

        else if (data[0] == "SteamInventory")
        {
            USERS_ITEMS_IN_INVENTORY = data[3];

            console.log("SteamInventory");
            var items = data[2].split('→');
            var items_content = "";

            for (var i = 0; i < (items.length - 1) ; i++)
            {
                var item = items[i].split('↓');
                if (LotteryPage_GetInventory) 
                {
                    var next_fr = true;
                    $("div#bet_iventory div.item1").each(function (index) {
                        var item_id = $("span#item_id", this).text();
                        if (item_id == item[3]) {
                            next_fr = false;
                        }
                    });

                    if (next_fr == false) {
                        continue;
                    }
                }

                var items_html = $("div#steam_items_html").html();

                var name = "<itm style='color:#" + item[5] + "'>" + item[0] + "</itm><br /><itm style='color:" + item[7] + "'>" + item[6] + "</itm>";
                items_html = items_html.replace("[item_name]", name);

                items_html = items_html.replace("[item_id]", item[3]);
                items_html = items_html.replace("[item_id]", item[3]);

                items_html = items_html.replace("[item_price]", item[1]);
                /*items_html = items_html.replace("[item_steam_image]", "<img src='" + item[5] + "' alt='" + item[0] + "'>");*/
                items_html = items_html.replace("[item_steam_image]", "<img src='/steam-image/" + item[2] + "/" + item[3] + "' alt='" + item[0] + "'>");

                items_html = items_html.replace("[item_unique_id]", item[4] + "_1");
                items_html = items_html.replace("[item_assert_id]", item[4]);
                items_html = items_html.replace("[item_assert_id]", item[4]);

                items_html = items_html.replace("[item_color]", "" + item[7]);

                items_html = items_html.replace("[iventory_id]", "1");
                items_html = items_html.replace("[iventory_id]", "1");
                items_html = items_html.replace("[current_iventory_id]", "1");

                items_content += items_html;
            }

            if (USERS_INVENTORY_SORT == 0)
            {
                $("li#inventory_sort_by_high_price").attr("class", "active");
                $("li#inventory_sort_by_high_price a").removeAttr("href");

                $("li#inventory_sort_by_low_price").removeClass("active");
                $("li#inventory_sort_by_low_price a").attr("href", "");
            }
            else if (USERS_INVENTORY_SORT == 1)
            {
                $("li#inventory_sort_by_low_price").attr("class", "active");
                $("li#inventory_sort_by_low_price a").removeAttr("href");

                $("li#inventory_sort_by_high_price").removeClass("active");
                $("li#inventory_sort_by_high_price a").attr("href", "");
            }

            $("div#steam_iventory").html(items_content);

            setTimeout(function () {
                $('.cont-ov-items-more1 .item1,.ov-ic-more-s1 .item1,.over-items-more-bl1 .rr1 ,item1,.owl1 .item').each(function () {
                    $(this).find('.tiltp').css({ 'margin-left': -($(this).find('.tiltp').width() * 0.5 + 10) })
                });
            }, 1000);


            $("div#steam_inventory_loading").attr("style", "display:none;");
            $("div#steam_inventory_items_num").text(data[3]);
            $("div#steam_inventory_total_price").text(data[1]);

            $("div#steam_inventory_pagination").removeClass("active");
            $("div#search_in_steam_inventory_srch").removeClass("active");

            if (INVENTORY_ITEMS_FROM <= 0)
            {
                inventory_getfirstpage_disabled = true;
                $("div#steam_inventory_pagination a#first").removeAttr("href");
                $("div#steam_inventory_pagination a#before").removeAttr("href");
                $("div#steam_inventory_pagination a#first").addClass("diss");
                $("div#steam_inventory_pagination a#before").addClass("diss");
            }
            else
            {
                inventory_getfirstpage_disabled = false;
                $("div#steam_inventory_pagination a#first").attr("href", "");
                $("div#steam_inventory_pagination a#before").attr("href", "");;
                $("div#steam_inventory_pagination a#first").removeClass("diss");
                $("div#steam_inventory_pagination a#before").removeClass("diss");
            }

            if (USERS_ITEMS_IN_INVENTORY <= (INVENTORY_ITEMS_FROM + INVENTORY_ITEMS_NUM))
            {
                inventory_getlastpage_disabled = true;
                $("div#steam_inventory_pagination a#next").removeAttr("href");
                $("div#steam_inventory_pagination a#last").removeAttr("href");
                $("div#steam_inventory_pagination a#next").addClass("diss");
                $("div#steam_inventory_pagination a#last").addClass("diss");
            }
            else
            {
                inventory_getlastpage_disabled = false;
                $("div#steam_inventory_pagination a#next").attr("href", "");
                $("div#steam_inventory_pagination a#last").attr("href", "");;
                $("div#steam_inventory_pagination a#next").removeClass("diss");
                $("div#steam_inventory_pagination a#last").removeClass("diss");
            }

            if(USERS_ITEMS_IN_INVENTORY > INVENTORY_ITEMS_NUM)
            {
                $("div#steam_inventory_pagination").attr('style', "display:block;");
            }
            else
            {
                $("div#steam_inventory_pagination").attr('style', "display:none;");
            }

            /*$("div#steam_iventory").html(items_content);*/
            /*$("span#totalPrice").html("Шмоток: " + (items.length - 1) + " На сумму: " + data[1] + "$<br><br>");*/
        }
    }

    function LoadLocalSteamInventory(data)
    {
        if (data[0] == "LocalInventory")
        {
            USERS_ITEMS_IN_LOCAL_INVENTORY = data[3];

            console.log("LocalInventory");
            var items = data[2].split('→');
            var items_content = "";
            for (var i = 0; i < (items.length - 1) ; i++) {
                var items_html = $("div#steam_items_html").html();
                var item = items[i].split('↓');

                if (LotteryPage_GetInventory) {
                    var next_fr = true;
                    $("div#bet_iventory div.item1").each(function (index) {
                        var item_id = $("span#item_id", this).text();
                        if (item_id == item[3]) {
                            next_fr = false;
                        }
                    });

                    if (next_fr == false) {
                        continue;
                    }
                }

                var name = "<itm style='color:#" + item[5] + "'>" + item[0] + "</itm><br /><itm style='color:" + item[7] + "'>" + item[6] + "</itm>";
                items_html = items_html.replace("[item_name]", name);

                items_html = items_html.replace("[item_id]", item[3]);

                items_html = items_html.replace("[item_price]", item[1]);
                /*items_html = items_html.replace("[item_steam_image]", "<img src='" + item[5] + "' alt='" + item[0] + "'>");*/
                items_html = items_html.replace("[item_steam_image]", "<img src='/steam-image/" + item[2] + "/" + item[3] + "' alt='" + item[0] + "'>");

                items_html = items_html.replace("[item_unique_id]", item[4] + "_2");
                items_html = items_html.replace("[item_assert_id]", item[4]);
                items_html = items_html.replace("[item_assert_id]", item[4]);

                items_html = items_html.replace("[iventory_id]", "2");
                items_html = items_html.replace("[iventory_id]", "2");
                items_html = items_html.replace("[current_iventory_id]", "2");

                items_content += items_html;
            }

            if (USERS_LOCAL_INVENTORY_SORT == 0) {
                $("li#local_inventory_sort_by_high_price").attr("class", "active");
                $("li#local_inventory_sort_by_high_price a").removeAttr("href");

                $("li#local_inventory_sort_by_low_price").removeClass("active");
                $("li#local_inventory_sort_by_low_price a").attr("href", "");
            }
            else if (USERS_LOCAL_INVENTORY_SORT == 1) {
                $("li#local_inventory_sort_by_low_price").attr("class", "active");
                $("li#local_inventory_sort_by_low_price a").removeAttr("href");

                $("li#local_inventory_sort_by_high_price").removeClass("active");
                $("li#local_inventory_sort_by_high_price a").attr("href", "");
            }

            $("div#local_steam_inventory").html(items_content);

            setTimeout(function () {
                $('.cont-ov-items-more1 .item1,.ov-ic-more-s1 .item1,.over-items-more-bl1 .rr1 ,item1,.owl1 .item').each(function () {
                    $(this).find('.tiltp').css({ 'margin-left': -($(this).find('.tiltp').width() * 0.5 + 10) })
                });
            }, 1000);


            $("div#local_steam_inventory_loading").attr("style", "display:none;");
            $("div#local_steam_inventory_items_num").text(data[3]);
            $("div#local_steam_inventory_total_price").text(data[1]);

            $("div#local_steam_inventory_pagination").removeClass("active");
            $("div#search_in_local_steam_inventory_srch").removeClass("active");

            if (LOCAL_INVENTORY_ITEMS_FROM <= 0) {
                local_inventory_getfirstpage_disabled = true;
                $("div#local_steam_inventory_pagination a#first").removeAttr("href");
                $("div#local_steam_inventory_pagination a#before").removeAttr("href");
                $("div#local_steam_inventory_pagination a#first").addClass("diss");
                $("div#local_steam_inventory_pagination a#before").addClass("diss");
            }
            else {
                local_inventory_getfirstpage_disabled = false;
                $("div#local_steam_inventory_pagination a#first").attr("href", "");
                $("div#local_steam_inventory_pagination a#before").attr("href", "");;
                $("div#local_steam_inventory_pagination a#first").removeClass("diss");
                $("div#local_steam_inventory_pagination a#before").removeClass("diss");
            }

            if (USERS_ITEMS_IN_LOCAL_INVENTORY <= (LOCAL_INVENTORY_ITEMS_FROM + LOCAL_INVENTORY_ITEMS_NUM)) {
                local_inventory_getlastpage_disabled = true;
                $("div#local_steam_inventory_pagination a#next").removeAttr("href");
                $("div#local_steam_inventory_pagination a#last").removeAttr("href");
                $("div#local_steam_inventory_pagination a#next").addClass("diss");
                $("div#local_steam_inventory_pagination a#last").addClass("diss");
            }
            else {
                local_inventory_getlastpage_disabled = false;
                $("div#local_steam_inventory_pagination a#next").attr("href", "");
                $("div#local_steam_inventory_pagination a#last").attr("href", "");;
                $("div#local_steam_inventory_pagination a#next").removeClass("diss");
                $("div#local_steam_inventory_pagination a#last").removeClass("diss");
            }

            if (USERS_ITEMS_IN_LOCAL_INVENTORY > LOCAL_INVENTORY_ITEMS_NUM) {
                $("div#local_steam_inventory_pagination").attr('style', "display:block;");
            }
            else {
                $("div#local_steam_inventory_pagination").attr('style', "display:none;");
            }

            if (GetMyInventoryPage && USERS_ITEMS_IN_LOCAL_INVENTORY > 0)
            {
                $("#send_local_items_to_steam").removeAttr("style", "display:block;");
            }
        }
    }

    ws.onmessage = function (evt)
    {
        var data = evt.data.split("{{=BaseFuncs.WSplit}}");

        if (data[0] == "GetProfile")
        {
            $("#user_profile_modal").attr("style", "display:block;");
            $("#user_profile_modal #user_name").text(data[1]);
            $("#user_profile_modal #users_avatar").attr("src", data[2]);
            $("#user_profile_modal #played").text(data[3]);
            $("#user_profile_modal #won_count").text(data[4]);
            $("#user_profile_modal #winrate").text(data[5] + "%");
            $("#user_profile_modal #total_bets_items").text(data[6]);
            $("#user_profile_modal #total_won_items").text(data[7]);
            $("#user_profile_modal #bets_total_price").text(data[8]);
            $("#user_profile_modal #jackpot_total_price").text(data[9]);
            $("#user_profile_modal #profile_url").attr("href", data[10]);

            if (data[14] == 1) {
                $("#user_profile_modal #game_h_title").text("Последние 15 игр");
            }
            else {
                $("#user_profile_modal #game_h_title").text("Последние игры");
            }
            if(data[11] >= 0)
            {
                $("#user_profile_modal #lobby_block").attr("style", "");
                $("#user_profile_modal #lobby_block #lobby_name").text(data[12]);
                $("#user_profile_modal #lobby_block #lobby_name").attr("href", "/hangout/" + data[11]);
            }
            else
            {
                $("#user_profile_modal #lobby_block").attr("style", "display:none;");
            }

            var game = data[13].split("↑");
            var last_games_html = "";
            for(var i = 0; i < game.length -1; i++)
            {
                var spl = game[i].split(";");
                var block = $("#user_profile_modal #games_html").html();
                block = block.replace("[str_id]", spl[1]);
                block = block.replace("[id]", spl[0]);
                block = block.replace("[winrate]", spl[2]);
                block = block.replace("[jackpot_items]", spl[3]);
                block = block.replace("[jackpot_price]", spl[4]);

                if (spl[5] == 0)
                {
                    block = block.replace("[won_or_lost_class]", "stts j2");
                    block = block.replace("[won_or_lost]", "Проигрыш");
                }
                else
                {
                    block = block.replace("[won_or_lost_class]", "stts j1");
                    block = block.replace("[won_or_lost]", "Выигрыш");
                }
                last_games_html += block;
            }
            $("#user_profile_modal #last_games").html(last_games_html);

            $(".content-modal1").mCustomScrollbar({
                horizontalScroll: false,
                mouseWheelPixels: 300
            });
            can_GetUsersProfile = true;
        }

        if (data[0] == "UpdateOnlineUsers") {
            $("b#online_users").text(data[1]);
        }

        if(GetMyInventoryPage)
        {
            LoadSteamInventoryData(data);
            LoadLocalSteamInventory(data);

            if (data[0] == "UpdateTradeURL")
            {
                if (data[1] == "0") {
                    $("div#steam_trade_form").addClass("err");
                    $("i#trade_url_error").text("Steam Trade URL указан неверно!");
                    $("div#trade_url_btn").attr("class", "sub-st-e1");
                    $("div#trade_url_btn own").text("Сохранить");
                    trade_ok = false;
                }
                else if (data[1] == "1") {
                    $("div#steam_trade_form").removeClass("err");
                    $("div#trade_url_btn").attr("class", "sub-st-e1 active");
                    $("div#trade_url_btn own").text("Сохранено");
                    trade_ok = true;

                    trade_url = 'https://steamcommunity.com/tradeoffer/new/?partner=' + data[2] + '&token=' + data[3];
                }
            }

            else if(data[0] == "SendLocalItemsToSteam")
            {
                if(data[1] == "0")
                {
                    alert("Предложение не получилось отправить, повторите попытку позже. ");
                }
                else if(data[1] == "1")
                {
                    alert("Предложение успешно отправлено, offer id: " + data[2] + "\nПредложение необходимо принять в течении часа, иначе оно будет удалено.");
                }
                else if(data[2] == "2")
                {
                    alert("Вы отменили предложение, offer id: " + data[2]);
                }

                $("#send_local_items_to_steam").attr("class", "link-steam-tt1");
                LOCAL_INVENTORY_ITEMS_FROM = 0;
                GetLocalSteamInventory(36);
            }

            else if (data[0] == "BuyChip")
            {
                if(data[1] == "0")
                {
                    alert("У вас недостаточно средств.\nДля покупки фишек сначала необходимо пополнить баланс.")
                }

                else if(data[1] == "1")
                {
                    var cur = $("#count_f_" + data[2]).text();
                    $("span#users_wallet").text(data[3]);
                    cur = cur.replace("x", "");
                    var cur_num = parseInt(cur);
                    cur_num++;
                    $("#count_f_" + data[2]).text("x" + cur_num);
                    /*alert("Вы успешно приобрели фишку на сумму " + data[3] + " рублей.");*/
                }
            }

        }

        else if (MyGroupPageConnect)
        {
            if (data[0] == "UpdateGroupData") {
                GroupName = data[1];
                $("i#users_count").text(data[2]);
            }
        }

        else if(GroupPageConnect)
        {
            if (data[0] == "UpdateGroupData") {
                $("kek#group_name").text(data[1]);
                $("kek#users_num").text(data[2]);
            }
        }

        else if (GroupPageConnect) {
            if (data[0] == "UpdateGroupData") {
                $("kek#group_name").text(data[1]);
                $("kek#users_num").text(data[2]);
            }
        }

        else if(OnMainPage)
        {
            if (data[0] == "MainPageLotteries") {

                var GamersCount = data[2];
                var Jackpot = data[3];
                var LotteryLeftTime = data[4];
                var JackpotItemsNum = data[5];
                var TodayGamesNum = data[6];
                var MaxJackPotPrice = data[7];

                if(data[1] == "570")
                {
                    $("#dota_users_count").text(GamersCount);
                    $("#dota_jackpot").text(Jackpot);
                    $("#dota_jackpot_items").text(JackpotItemsNum);
                    $("#dota_today_played").text(TodayGamesNum);
                    $("#dota_max_jackpot").text(MaxJackPotPrice);

                    if (LotteryLeftTime < 0 && GamersCount == 0) {
                        dota_use_timer = false;
                        $("#dota_text").html("<b>Ожидание первой ставки</b>");
                        $("#dota_timer").attr("style", "display:none;");
                        $("#dota_text").attr("style", "");
                    }
                    else if (LotteryLeftTime != 0) {

                        if (GamersCount > 1) {
                            dota_use_timer = true;
                            dota_left_secs = LotteryLeftTime;
                            $("#dota_timer").attr("style", "");
                            $("#dota_text").attr("style", "display:none;");
                        }
                        else {
                            dota_use_timer = false;
                            $("#dota_text").html("<b>Ожидание второго игрока</b>");
                            $("#dota_timer").attr("style", "display:none;");
                            $("#dota_text").attr("style", "");
                        }
                    }
                    else
                    {
                        console.log("ending lottery --dota");
                        dota_use_timer = false;
                        $("#dota_text").html("<b>Определение победителя</b>");
                        $("#dota_timer").attr("style", "display:none;");
                        $("#dota_text").attr("style", "");

                        var rm_worker = setInterval(function () {
                            $("#dota_text").html("<b>Ожидание первой ставки</b>");
                            $("#dota_timer").attr("style", "display:none;");
                            $("#dota_text").attr("style", "");

                            $("#dota_users_count").text("0");
                            $("#dota_jackpot").text("0");
                            $("#dota_jackpot_items").text("0");

                            clearInterval(rm_worker);

                        }, 30000);
                    }
                }

                else if (data[1] == "730") {
                    $("#csgo_users_count").text(GamersCount);
                    $("#csgo_jackpot").text(Jackpot);
                    $("#csgo_jackpot_items").text(JackpotItemsNum);
                    $("#csgo_today_played").text(TodayGamesNum);
                    $("#csgo_max_jackpot").text(MaxJackPotPrice);

                    if (LotteryLeftTime < 0 && GamersCount == 0) {
                        csgo_use_timer = false;
                        $("#csgo_text").html("<b>Ожидание первой ставки</b>");
                        $("#csgo_timer").attr("style", "display:none;");
                        $("#csgo_text").attr("style", "");
                    }
                    else if (LotteryLeftTime != 0) {

                        if (GamersCount > 1) {
                            csgo_use_timer = true;
                            csgo_left_secs = LotteryLeftTime;
                            $("#csgo_timer").attr("style", "");
                            $("#csgo_text").attr("style", "display:none;");
                        }
                        else {
                            csgouse_timer = false;
                            $("#csgo_text").html("<b>Ожидание второго игрока</b>");
                            $("#csgo_timer").attr("style", "display:none;");
                            $("#csgo_text").attr("style", "");
                        }
                    }
                    else {
                        console.log("ending lottery --csgo");
                        csgo_use_timer = false;
                        $("#csgo_text").html("<b>Определение победителя</b>");
                        $("#csgo_timer").attr("style", "display:none;");
                        $("#csgo_text").attr("style", "");

                        var rmg_worker = setInterval(function () {
                            $("#csgo_text").html("<b>Ожидание первой ставки</b>");
                            $("#csgo_timer").attr("style", "display:none;");
                            $("#csgo_text").attr("style", "");

                            $("#csgo_users_count").text("0");
                            $("#csgo_jackpot").text("0");
                            $("#csgo_jackpot_items").text("0");

                            clearInterval(rmg_worker);

                        }, 30000);
                    }
                }
            }
        }

        else if(LotteryPageConnect)
        {
            LoadSteamInventoryData(data);
            LoadLocalSteamInventory(data);

            if (data[0] == "AddedNewLotteryBet")
            {
                sound_bet_come();

                var html_block = $("div#new_bet").html();
                html_block = html_block.replace("[BET_ITEMS_NUM]", data[5]);
                html_block = html_block.replace("[BET_PRICE]", data[10]);
                html_block = html_block.replace("[FIRST_TOKEN]", data[7]);
                html_block = html_block.replace("[LAST_TOKEN]", data[8]);
                html_block = html_block.replace("[BETS_NUM]", data[9]);
                html_block = html_block.replace("[TOTAL_ITEMS_NUM]", data[11]);
                html_block = html_block.replace("[WINRATE]", data[12]);
                html_block = html_block.replace("[TOTAL_PRICE]", data[10]);
                html_block = html_block.replace("[user_avatar]", "src='" + data[16] + "'");
                html_block = html_block.replace("[USER_NAME]", data[15]);
                html_block = html_block.replace("[USER_NAME_2]", data[15]);
                html_block = html_block.replace("[USER_ID]", data[14]);
                html_block = html_block.replace("[USER_ID]", data[14]);

                var random_hash = "j_" + data[17] + "_" + data[14];
                html_block = html_block.replace("[RANDOM_HASH]", random_hash);

                var bet_items = data[19].split("↓");
                var addition_items = "";
                for (var i = 0; i < bet_items.length - 1; i++)
                {
                    var spl = bet_items[i].split('::');

                    var items_html = $("div#new_bets_items").html();
                    items_html = items_html.replace("/[items_image]", "/steam-image/" + spl[1] + "/" + spl[0]);

                    items_html = items_html.replace("[items_name]", spl[2]);

                    var name = "<itm style='color:#" + spl[5] + "'>" + spl[2] + "</itm><br /><itm style='color:" + spl[6] + "'>" + spl[4] + "</itm>";
                    items_html = items_html.replace("[items_name]", name);
                    items_html = items_html.replace("[items_price]", spl[3]);
                    addition_items += items_html;
                }

                var bet_items = data[20].split("↓");
                for (var i = 0; i < bet_items.length - 1; i++) {
                    var spl = bet_items[i].split('::');

                    var items_html = $("div#new_bets_items").html();
                    items_html = items_html.replace("/[items_image]", "/chip-image/" + spl[0]);
                    items_html = items_html.replace("[items_name]", spl[1]);
                    items_html = items_html.replace("[items_name]", spl[2]);
                    items_html = items_html.replace("[items_price]", spl[1]);
                    addition_items += items_html;
                }

                /*html_block = html_block.replace("[OTHER_BETS]", addition_bets);*/
                html_block = html_block.replace("[BETS_ITEMS]", addition_items);
                if(data[23] != "-1"){
                    html_block = html_block.replace("[hangout_user]", data[24]);
                    html_block = html_block.replace("[hangout_text]", "Тусовка:");
                }
                else
                {
                    html_block = html_block.replace("[hangout_user]", "");
                    html_block = html_block.replace("[hangout_text]", "");
                }

                $("span#first_position").after(html_block);

                var all_users_bets = data[22].split(";");
                for (var i = 0; i < all_users_bets.length - 1; i++)
                {
                    var spl = all_users_bets[i].split('↓');
                    $("div#user_id_" + spl[0] + " #bets_num").text(spl[2]);
                    $("div#user_id_" + spl[0] + " #total_items_num").text(spl[3]);
                    $("div#user_id_" + spl[0] + " #winrate").text(spl[1] + "%");
                    $("div#user_id_" + spl[0] + " #total_price").text(spl[4]);
                }

                var bets_items_block = "";
                var best_items = data[21].split("→");

                for (var i = 0; i < best_items.length -1; i++)
                {
                    var spl = best_items[i].split('↓');
                    var items_html = $("div#best_items_html").html();
                    items_html = items_html.replace("[image]", "<img src='" + spl[1] + "'/>");

                    if (spl.length > 3)
                    {
                        var name = "<itm style='color:#" + spl[3] + "'>" + spl[0] + "</itm><br /><itm style='color:" + spl[5] + "'>" + spl[4] + "</itm>";
                    }
                    else
                    {
                        var name = spl[0];
                    }
                    items_html = items_html.replace("[name]", name);
                    items_html = items_html.replace("[price]", spl[2]);
                    bets_items_block += items_html;
                }

                $("div#best_items_list").html(bets_items_block);

                $('.cont-ov-items-more1 .item1,.ov-ic-more-s1 .item1,.over-items-more-bl1 .rr1 ,item1,.owl1 .item').each(function () {
                    $(this).find('.tiltp').css({ 'margin-left': -($(this).find('.tiltp').width() * 0.5 + 10) })
                });

                console.log("extra time: " + data[4] + "; users:" + data[25] + "; left secs: " + data[18]);
                if (data[25] > 0)
                {
                    $("#lottery_standart_form").remove();

                    if (data[25] > 1)
                    {
                        left_secs = data[18];
                        $(".tit-chet1").text("Начнется через:");
                    }
                    else
                    {
                        $(".tit-chet1").text("Ожидание второго игрока");
                    }

                    $("#lottery_started_format").attr("style", "display:block");
                }

                if (data[4] > 0)
                {
                    min = Math.floor(data[4] / 60);
                    sec = data[4] - 60 * min;

                    if (sec < 10) {
                        sec = "0" + sec;
                    }
                    if (min < 10) {
                        min = "0" + min;
                    }

                    var lottery_time_alert = $("<b class='eft-pl1 '" + random_hash + ">+" + min + ":" + sec + "</b>").insertAfter(".lottery_time_alert");
                    lottery_time_alert.addClass('active').delay(400).animate({ opacity: '0', marginTop: '-20px' }, 1000);
                }

                var items_jackpot_alert = $("<b class='eft-pl1 '" + random_hash + ">+" + data[5] + "</b>").insertAfter(".items_jackpot_alert");
                items_jackpot_alert.addClass('active').delay(400).animate({ opacity: '0', marginTop: '-20px' }, 1000);

                var price_jackpot_alert = $("<b class='eft-pl1 '" + random_hash + ">+" + data[6] + "</b>").insertAfter(".price_jackpot_alert");
                price_jackpot_alert.addClass('active').delay(400).animate({ opacity: '0', marginTop: '-20px' }, 1000);

                $("#jackpot_price").text(data[1]);
                $("#jackpot_items_num").text(data[3]);

                jackpot_price_str = data[1];
                if(auth)
                {
                    show_winrate();
                }
            }

            else if(data[0] == "LotteryRouletteStarted")
            {
                if (!IGNORE_LOTTERY_ROULETTE_AUTO_UPDATE) {
                    sound_bet_come();
                    $("div.modal").removeClass("active");

                    var users = data[12].split('↓');
                    var avatars_html = "";
                    for (var i = 0; i < users.length - 1; i++) {
                        var user = users[i].split('↑');
                        if (user[2] == "1") {
                            avatars_html += "<div dt='" + user[1] + "' class='item1 win1'><img src='" + user[0] + "' alt=''></div>";
                        }
                        else {
                            avatars_html += "<div dt='" + user[1] + "' class='item1'><img src='" + user[0] + "' alt=''></div>";
                        }
                    }

                    $("div#lottery_roulette_format div#users_ball").html(avatars_html);
                    $("div#lottery_standart_form").attr("style", "display:none;");
                    $("div#lottery_started_format").attr("style", "display:none;");

                    $("div#lottery_roulette_format div#raund_number").html($("div#lottery_roulette_format div#raund_number").html() + data[5]);

                    $("div#lottery_roulette_format b#jackpot_items").text(data[1]);
                    $("div#lottery_roulette_format i#jackpot_price").text(data[2]);


                    $("div#lottery_roulette_format").attr("style", "display:block;");
                    $("div#bet_sys").attr('style', 'display:none;');

                    /* trash code start */
                    $('.ov-elem1.j1 .item1').each(function () {
                        $(this).clone().appendTo('.ov-elem1.j3');
                        $(this).clone().prependTo('.ov-elem1.j2');
                    });
                    sp3 = $('.ov-elem1.j2 .item1').length - $('.ov-elem1.j2 .item1.win1').index() - 6;
                    $('.ov-elem1').width($('.ov-elem1.j1 .item1').length * 108);
                    sp2 = $('.ov-elem1.j1 .item1').length;
                    j3 = $('.ov-elem1.j1 .item1').length - 1;
                    /* trash code end */

                    /* updating end data */
                    $("div#lottery_end_format own#hash_number").text(data[14]);

                    $("div#lottery_end_format own#raund_number").text(data[5]);
                    $("div#lottery_end_format own#winners_token").text(data[6]);
                    $("div#lottery_end_format own#bank_cent").text(data[7]);

                    $("div#lottery_end_format div#jackpot_price").text(data[2]);
                    $("div#lottery_end_format span#jackpot_items").text(data[1]);

                    $("div#lottery_end_format img#winners_avatar").attr('src', data[8]);

                    $("div#lottery_end_format #won_open_winners_profile").attr('onclick', "return GetUsersProfile(" + data[3] + ");");

                    $("div#lottery_end_format div#winners_name").text(data[4]);

                    $("div#lottery_end_format b#winners_bet_items_num").text(data[10]);
                    $("div#lottery_end_format b#winners_bet_price").text(data[11]);

                    $("div#lottery_end_format div#winners_wonrate").text(data[9] + "%");

                    if (data[13] == 1) {
                        $(".fk15").removeClass("fk151");
                        $(".rr11").removeClass("rr111");
                        $("#msg_to_winner").removeAttr("style")
                    }

                    /* end updating here */

                    rull();
                    rrch();
                    LotteryPageConnect = false;
                }
            }

            else if (data[0] == "BetDone")
            {
                if (data[1] == "1") {
                    $("div#bet_iventory div.item1").each(function (index) {
                        $(this).remove();
                    });

                    GetSteamInventory(INVENTORY_ITEMS_NUM, 0);
                    GetLocalSteamInventory(LOCAL_INVENTORY_ITEMS_NUM, 0);

                    $("div#bet_sys").attr('style', 'display:none;');
                    $("div#bet_ready").attr("style", "display:none;");
                    $("div#bet_done").attr("style", "display:none;");
                    handler = false;
                    bet_count = 0;

                    UsersBetsPrice += cur_bet_price;
                    cur_bet_price = 0;
                    $("#current_bet_price").text(0);
                    $("#current_bet_items_num").text(0);
                }

                else if (data[1] == "2") {
                    $("div#bet_iventory div.item1").each(function (index) {
                        $(this).remove();
                    });

                    var block = $("div#bet_done");
                    block.html(block.html().replace("[bet_done_protection_code]", data[3]));
                    block.html(block.html().replace("[bet_done_bot_name]", data[4]));

                    $("div#bet_ready").attr("style", "display:none;");

                    $("#steam_trade_btn").attr("href", "https://steamcommunity.com/tradeoffer/" + data[2]);
                    block.attr("style", "display:block;");

                    console.log("Trade done! :: check");
                }

                else if (data[1] == "3") {
                    $("div#bet_ready").attr("style", "display:none;");
                    $("div#bet_wtf_error").attr("style", "display:none;");
                    $("div#bet_item_not_found").attr("style", "display:block;");

                    console.log("Item not found!");
                }

                else if (data[1] == "0") {
                    $("div#bet_ready").attr("style", "display:none;");
                    $("div#bet_done").attr("style", "display:none;");

                    $("div#bet_wtf_error").attr("style", "display:block;");
                    console.log("wtf error :: setbet() returned 0!");
                }
            }             

            else if (data[0] == "UpdateTradeURL")
            {
                if (LotteryPageConnect)
                {
                    if (data[1] == "0") {
                        $("div#steam_trade_form").addClass("err");
                        $("div#trade_url_error").text("Steam Trade URL указан неверно!");
                        $("div#trade_url_error").attr("style", "");
                        $("div#trade_url_ok").attr("style", "display:none;");
                        trade_ok = false;
                    }
                    else if (data[1] == "1") {
                        $("div#steam_trade_form").removeClass("err");
                        $("div#trade_url_error").attr("style", "display:none;");
                        $("span#trade_url_btn").attr("class", "active");
                        trade_ok = true;
                    }
                }
            }

        }
    };
    function rull_done()
    {
        sound_winner_setted();

        setTimeout(function ()
        {
            $("div#lottery_roulette_format").attr("style", "display:none;");
            $("div#lottery_end_format").attr("style", "display:block;");
            console.log("Rouletter done!");
        }, 1500);
    }
</script>