<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{{include GameSlot Head}}
<body>
    {{include GameSlot Header}}
    {{using GameSlot.Types}}
    {{set uint SteamGameID = (uint) PageData["SteamGameID"]}}
    Инвентарь:
    <a href="/inventory/dota">DOTA 2</a> 
    <a href="/inventory/csgo">CSGO</a><br />

    <div id="inventory">
        <span id="totalPrice"></span>
        <div id="inventory_items">Loading...</div>
    </div>


    <script>
        GetMyInventoryPage = true;
        MyInventoryPage_SteamGameID = "{{=SteamGameID}}";
    </script>
</body>
</html>