<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include GameSlot Head}}
{{set List<XLottery> Lotteries = (List<XLottery>) PageData["Lotteries"]}}
{{set uint SteamGameID = (uint) PageData["SteamGameID"]}}
{{set bool MyLots = (bool) PageData["MyLots"]}}
{{set int From = (int) PageData["From"]}}
{{set int ShowNum = (int) PageData["ShowNum"]}}
{{set int GamesNum = (int) PageData["GamesNum"]}}
{{set ushort Currency = (ushort) PageData["Currency"]}}

<body class="vn1">
	<div id="page">
       {{include GameSlot UpHeader}}
       <div class="ft-img1"><span>
            {{if(SteamGameID == Configs.DOTA2_STEAM_GAME_ID)}}
                <img src="/cached_files/img/b2.png" alt="">
            {{end}}
            {{else if(SteamGameID == Configs.CSGO_STEAM_GAME_ID)}}
                <img src="/cached_files/img/b3.png" alt="">
            {{end}}
        </span></div>

        {{include GameSlot Header}}
        <section id="content">
            <div class="ct">
                <div class="et-title1">
                    <div class="ll1">
                        <div class="tit1 j3">
                            <span>История игр</span>
                            <i>Игры:</i>
                            {{if(!MyLots)}}
                                {{if(SteamGameID == Configs.DOTA2_STEAM_GAME_ID)}}
                                    <a href="/games-history/current">Общая</a>
                                    <a class="active">Dota2</a>
                                    <a href="/games-history/csgo">CS GO</a>
                                {{end}}
                                {{else if(SteamGameID == Configs.CSGO_STEAM_GAME_ID)}}
                                    <a href="/games-history/current">Общая</a>
                                    <a href="/games-history/dota2">Dota2</a>
                                    <a class="active">CSGO</a>
                                {{end}}
                                {{else if(SteamGameID == 0)}}
                                    <a class="active">Общая</a>
                                    <a href="/games-history/dota2">Dota2</a>
                                    <a href="/games-history/csgo">CS GO</a>
                                {{end}}
                            {{end}}
                            {{else}}
                                {{if(SteamGameID == Configs.DOTA2_STEAM_GAME_ID)}}
                                    <a href="/games-history/current/my">Общая</a>
                                    <a class="active">Dota2</a>
                                    <a href="/games-history/csgo/my">CS GO</a>
                                {{end}}
                                {{else if(SteamGameID == Configs.CSGO_STEAM_GAME_ID)}}
                                    <a href="/games-history/current/my">Общая</a>
                                    <a href="/games-history/dota2/my">Dota2</a>
                                    <a class="active">CSGO</a>
                                {{end}}
                                {{else if(SteamGameID == 0)}}
                                    <a class="active">Общая</a>
                                    <a href="/games-history/dota2/my">Dota2</a>
                                    <a href="/games-history/csgo/my">CS GO</a>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="double-st-tb-head1">
                    <div class="ll-head1 ll-head11">
                        <div class="j1"><a href=""><span>Игра №</span></a></div>
                        <div class="j2"><a href=""><span>Победил</span></a></div>
                        <div class="j3"><a href=""><span>Выиграл<br>с шансом</span></a></div>
                        <div class="j4"><a href=""><span>Кол-во<br>предметов</span></a></div>
                        <div class="j5"><a href=""><span>Сумма джекпота</span></a></div>
                    </div>
                    <div class="rr1">
                        {{if(!MyLots)}}
                            <a class="active">Все игры</a>
                            <span></span>
                            {{if(Helper.UserHelper.Authorized(client))}}
                                <a href='/games-history/{{=PageData["GameURL"]}}/my'>Мои игры</a>
                            {{end}}
                            {{else}}
                                <a href="/login">Мои игры</a>
                            {{end}}
                        {{end}}
                        {{else}}
                            <a href='/games-history/{{=PageData["GameURL"]}}'>Все игры</a>
                            <span></span>
                            <a class="active">Мои игры</a>
                        {{end}}
                    </div>

                </div>
                <div class="ov-sp1 ov-sp11">
                    {{foreach(XLottery Lottery in Lotteries)}}
                        {{set XUser User = Helper.UserHelper.Table.SelectByID(Lottery.Winner)}}
                        <div class="item1">
                            <div class="over-st1">
                                <div class="et j1">
                                    <span class="dc1">
                                        <span class="ep-sml-y2">#{{=Lottery.ID.ToString("000-000-000")}}</span>
                                    </span>
                                </div>
                                <div class="et j2">
                                    <a href="" onclick="return GetUsersProfile({{=User.ID}});">
                                    <span class="dc1">
                                        <span class="ev-avt1"><img src="{{=User.Avatar}}" alt=""></span><span class="ov-text-avt1"><span>{{=User.Name}}</span></span>
                                    </span>
                                    </a>
                                </div>
                                <div class="et j3"><span class="dc1">{{=Lottery.Wonrate}}%</span></div>
                                <div class="et j4"><span class="dc1">{{=Lottery.JackpotItemsNum.ToString("##,###")}}</span></div>
                                <div class="et j5"><span class="dc1 dc11">
                                    <span class="price-st-y1">       
                                    {{if(Currency == 1)}}             
                                        {{=Lottery.JackpotPrice.ToString("###,###,##0")}}
                                    {{end}}     
                                    {{else}}
                                        {{=Lottery.JackpotPrice.ToString("###,##0.00")}}
                                    {{end}}
                                    </span></span></div>
                                <div class="et j6"><span class="dc1"><a href='/game/id/{{=Lottery.ID}}' class="bt-link1">Посмотреть полную историю игры</a></span></div>
                            </div>
                        </div>
                    {{end}}
                </div>

                {{if(GamesNum > ShowNum)}}
                    <div class="nav-sp1">
                        {{if(From <= 0)}}
                            <div><a class="diss">В начало</a></div>
                            <div><a class="diss">Предыдущая</a></div>
                        {{end}}
                        {{else}}
                            <div><a class="" href='/games-history/{{=PageData["GameURL"]}}'>В начало</a></div>
                            <div><a class="" href='/games-history/{{=PageData["GameURL"]}}/?from={{=((From-ShowNum < 0) ? 0 : (From-ShowNum))}}'>Предыдущая</a></div>
                        {{end}}

                        {{if(GamesNum <= (From+ShowNum))}}
                            <div><a class="diss">Следующая</a></div>
                            <div><a class="diss">В конец</a></div>
                        {{end}}
                        {{else}}
                            <div><a href='/games-history/{{=PageData["GameURL"]}}/?from={{=(From+ShowNum)}}'>Следующая</a></div>
                            <div><a href='/games-history/{{=PageData["GameURL"]}}/?from={{=GamesNum}}'>В конец</a></div>
                        {{end}}
                    </div>
                {{end}}
            </div>
            <div class="ev-foot1"></div>
        </section>
    </div>
    {{include GameSlot Footer}}
    <div class="up1"></div>
</body>
{{include GameSlot Last}}
</html>