<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{{include GameSlot Head}}
<body>
    {{include GameSlot Header}}
    {{using GameSlot.Types}}

    {{set UGroup Group = (UGroup) PageData["Group"]}}
    {{set bool InGroup = (bool) PageData["InGroup"]}}
    {{set bool InOtherGroup = (bool) PageData["InOtherGroup"]}}

    Group name: <span id="group_name">{{=Group.Name}}</span><br />
    Group URL: <a href="/group/{{=Group.ID}}">/group/{{=Group.ID}}</a><br />
    In Group <b><span id="users_num">{{=Group.UserCount}}</span></b> users<hr />

    <div id="main_action">
        {{if(!Helper.UserHelper.Authorized(client))}}
            Авторизуйтесь, что бы войти в группу!
        {{end}}
        {{else if(!InGroup)}}
            <button id="insert" onclick="entry();">Войти в группу!</button><br />

            {{if(InOtherGroup)}}
            <i>Вступив в новую группы, вы автоматически выходите из старой.</i>
            {{end}}
        {{end}}
        {{else}}
            Покинуть группу
        {{end}}
    </div>

    
    <div id="entry_to_group" style="display:none">
        <button id="insert" onclick="entry();">Войти в группу!</button><br />
    </div>

    <div id="exit_from_group" style="display:none">
        Покинуть группу
    </div>

    <script>
        var ws = new WebSocket("ws://{{=client.Host}}{{=client.URL}}");

        ws.onmessage = function (evt) {
            var data = evt.data.split("{{=BaseFuncs.WSplit}}");

            if (data[0] == "UpdateGroupData") {
                $("span#group_name").text(data[1]);
                $("span#users_num").text(data[2]);
            }
        };

        function entry() {
            ws.send("entry");
            $("div#main_action").attr("style", "display:none");
            $("div#exit_from_group").attr("style", "");
        }
    </script>
</body>
</html>