<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include GameSlot Head}}
    {{set Lottery Lottery_CSGO = (Lottery) PageData["Lottery_CSGO"]}}
    {{set Lottery Lottery_DOTA = (Lottery) PageData["Lottery_DOTA"]}}
<body>
    {{include GameSlot UpHeader}}
	<div id="page">
        {{include GameSlot Header}}
        <div class="b1">
            <div>
                <span>Привет, искатель удачи!<br>Ну что, погремим костями?</span>
                <p>Интернет-ресурс «GAMESLOT» — это не только реальная возможность выиграть  огромное количество уникальных вещей из ваших любимых игр Dota 2, CS:GO и др, но и просто веселое времяпрепровождение с друзьями! Уникальность нашего сервиса в том, что механизм игры предельно прост и понятен, а расчёты победителя ведутся по честной и кристально-прозрачной схеме!<br>Вы сами можете проверить правильность всех расчётов!</p>
            </div>
        </div>
        <div class="sld-big-fake1">
            <div class="n1"></div>
            <div class="p1"></div>
            <div class="item1">
                <a href="/game/dota2/"><div class="vt-img1"><img src="/cached_files/img/vt1.png" alt=""></div></a>
                <div class="tit-s1">Dota 2</div>
                <div class="ov-inf1">
                    <div class="sp1">
                        <span>Банк</span>
                        <div class="j1"><b id="dota_jackpot">{{=Lottery_DOTA.JackpotPrice_Str}}</b></div>
                        <div class="j2"><b id="dota_jackpot_items">{{=Lottery_DOTA.JackpotItems}}</b> Предметов</div>
                    </div>

                    <script>
                        OnMainPage = true;
                        var dota_use_timer = false;
                        {{set string dota_timer_go = "display:none;"}}
                        {{set string dota_info_go = "display:block;"}}

                        {{if(Lottery_DOTA.LeftTime > 0 && Lottery_DOTA.UsersCount > 1)}}
                            dota_use_timer = true;
                            {{edit dota_timer_go = "display:block;"}}
                            {{edit dota_info_go = "display:none;"}}
                        {{end}}

                        var csgo_use_timer = false;
                        {{set string csgo_timer_go = "display:none;"}}
                        {{set string csgo_info_go = "display:block;"}}

                        {{if(Lottery_CSGO.LeftTime > 0 && Lottery_CSGO.UsersCount > 1)}}
                            csgo_use_timer = true;
                            {{edit csgo_timer_go = "display:block;"}}
                            {{edit csgo_info_go = "display:none;"}}
                        {{end}}


                        var dota_left_secs = "{{=Lottery_DOTA.LeftTime}}";
                        var dota_mins = 0;
                        var dota_secs = 0;

                        dota_timer();
                        var def_dota_timer_interval = setInterval(dota_timer, 1000);
                        function dota_timer()
                        {
                            if (dota_left_secs >= 0 && dota_use_timer) {
                                dota_mins = Math.floor(dota_left_secs / 60);
                                dota_secs = dota_left_secs - 60 * dota_mins;

                                if (dota_secs < 10) {
                                    $("#dota_secs").text("0" + dota_secs);
                                }
                                else {
                                    $("#dota_secs").text(dota_secs);
                                }

                                if (dota_mins < 10) {
                                    $("#dota_mins").text("0" + dota_mins);
                                }
                                else {
                                    $("#dota_mins").text(dota_mins);
                                }

                                dota_left_secs = dota_left_secs - 1;
                            }
                        }

                        var csgo_left_secs = "{{=Lottery_CSGO.LeftTime}}";
                        var csgo_mins = 0;
                        var csgo_secs = 0;

                        csgo_timer();
                        var def_csgo_timer_interval = setInterval(csgo_timer, 1000);
                        function csgo_timer()
                        {
                            if (csgo_left_secs >= 0 && csgo_use_timer) {
                                csgo_mins = Math.floor(csgo_left_secs / 60);
                                csgo_secs = csgo_left_secs - 60 * csgo_mins;

                                if (csgo_secs < 10) {
                                    $("#csgo_secs").text("0" + csgo_secs);
                                }
                                else {
                                    $("#csgo_secs").text(csgo_secs);
                                }

                                if (csgo_mins < 10) {
                                    $("#csgo_mins").text("0" + csgo_mins);
                                }
                                else {
                                    $("#csgo_mins").text(csgo_mins);
                                }

                                csgo_left_secs = csgo_left_secs - 1;
                            }
                        }
                    </script>
                    <div class="sp2" id="dota_timer" style="{{=dota_timer_go}}">
                        <span>До старта<br>лотереи:</span>
                        {{set int MinutesDOTA = (Lottery_DOTA.LeftTime / 60)}}
                        {{set int SecDOTA = Lottery_DOTA.LeftTime-60 * MinutesDOTA}}
                        <div><i id="dota_mins">0{{=MinutesDOTA}}</i>:
                        <i id="dota_secs">
                            {{if(SecDOTA < 10)}}
                                0{{=((SecDOTA < 0) ? 0 : SecDOTA)}}
                            {{end}}
                            {{else}}
                                {{=SecDOTA}}
                            {{end}}
                        </i></div>
                    </div>
                    <div class="sp2 sp23" id="dota_text" style="{{=dota_info_go}}">
                        {{if(Lottery_DOTA.LeftTime < 0 && Lottery_DOTA.UsersCount == 0)}}
                            <b>Ожидание первой ставки</b>
                        {{end}}
                        {{else if(Lottery_DOTA.LeftTime != 0)}}
                            <b>Ожидание второго игрока</b>
                        {{end}}   
                        {{else}}
                            <b>Определение победителя</b>
                            <script>
                                var rm_d2_worker = setInterval(function () {
                                    $("#dota_text").html("<b>Ожидание первой ставки</b>");
                                    $("#dota_timer").attr("style", "display:none;");
                                    $("#dota_text").attr("style", "");

                                    $("#dota_users_count").text("0");
                                    $("#dota_jackpot").text("0");
                                    $("#dota_jackpot_items").text("0");
                                    clearInterval(rm_d2_worker);
                                }, 30000);
                            </script>
                        {{end}}                 
                    </div>
                    <div class="sp3"><span>Игроков</span><b id="dota_users_count">{{=Lottery_DOTA.UsersCount}}</b></div>
                    <div class="sp4">
                        <div class="ll1">
                            <span>Сегодня сыграно</span>
                            <div><i id="dota_today_played">{{=PageData["GameToday_DOTA"]}}</i> игр</div>
                        </div>
                        <div class="rr1">
                            <span>Максимальный джекпот</span>
                            <div class="" id="dota_max_jackpot">{{=PageData["MaxJackpot_DOTA"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item1">
                 <a href="/game/csgo/"><div class="vt-img1"><img src="/cached_files/img/vt2.png" alt=""></div></a>
                <div class="tit-s1">CS GO</div>
                <div class="ov-inf1">
                    <div class="sp1">
                        <span>Банк</span>
                        <div class="j1"><b id="csgo_jackpot">{{=Lottery_CSGO.JackpotPrice_Str}}</b></div>
                        <div class="j2"><b id="csgo_jackpot_items">{{=Lottery_CSGO.JackpotItems}}</b> Предметов</div>
                    </div>
                    <div class="sp2" id="csgo_timer" style="{{=csgo_timer_go}}">
                        <span>До старта<br>лотереи:</span>
                        {{set int MinutesCSGO = (Lottery_CSGO.LeftTime / 60)}}
                        {{set int SecCSGO = Lottery_CSGO.LeftTime-60 * MinutesCSGO}}
                        <div><i id="csgo_mins">0{{=MinutesCSGO}}</i>:
                        <i id="csgo_secs">
                            {{if(SecCSGO < 10)}}
                                0{{=((SecCSGO < 0) ? 0 : SecCSGO)}}
                            {{end}}
                            {{else}}
                                {{=SecCSGO}}
                            {{end}}
                        </i></div>
                    </div>
                    <div class="sp2 sp23" id="csgo_text" style="{{=csgo_info_go}}">
                        {{if(Lottery_CSGO.LeftTime < 0 && Lottery_CSGO.UsersCount == 0)}}
                            <b>Ожидание первой ставки</b>
                        {{end}}
                        {{else if(Lottery_CSGO.LeftTime != 0)}}
                            <b>Ожидание второго игрока</b>
                        {{end}}   
                        {{else}}
                            <b>Определение победителя</b>
                            <script>
                                var rm_cw_worker = setInterval(function () {
                                    $("#csgo_text").html("<b>Ожидание первой ставки</b>");
                                    $("#csgo_timer").attr("style", "display:none;");
                                    $("#csgo_text").attr("style", "");

                                    $("#csgo_users_count").text("0");
                                    $("#csgo_jackpot").text("0");
                                    $("#csgo_jackpot_items").text("0");
                                    clearInterval(rm_cw_worker);
                                }, 30000);
                            </script>
                        {{end}}                 
                    </div>
                    <div class="sp3"><span>Игроков</span><b id="csgo_users_count">{{=Lottery_CSGO.UsersCount}}</b></div>
                    <div class="sp4">
                        <div class="ll1">
                            <span>Сегодня сыграно</span>
                            <div><i id="csgo_today_played">{{=PageData["GameToday_CSGO"]}}</i> игр</div>
                        </div>
                        <div class="rr1">
                            <span>Максимальный джекпот</span>
                            <div class="" id="csgo_max_jackpot">{{=PageData["MaxJackpot_CSGO"]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item1-fake"><img src="/cached_files/img/vt3.png" alt=""></div>
        </div>
        <div class="title1">КАК РАБОТАЕТ GAMESLOT ?</div>
        <div class="ov-ic1">
            <div class="numb">1</div>
            <div class="item1">
                <div><img src="/cached_files/img/d1.png" alt=""></div>
                <p>Вы ставите предметы в общий банк</p>
            </div>
            <div class="numb">2</div>
            <div class="item1">
                <div><img src="/cached_files/img/d2.png" alt=""></div>
                <p>Чем на большую сумму предметов вы<br>поставили, тем выше шанс победы</p>
            </div>
            <div class="numb">3</div>
            <div class="item1">
                <div><img src="/cached_files/img/d3.png" alt=""></div>
                <p>Запускается игровой механизм и<br>случайным образом определяется<br>победитель</p>
            </div>
            <div class="numb">4</div>
            <div class="item1">
                <div><img src="/cached_files/img/d4.png" alt=""></div>
                <p>Победитель забирает весь банк<br>предметов</p>
            </div>
        </div>
        <a href="/bet-info" class="btn1">Подробнее о том, как начать играть</a>
        <div class="ev-foot1"></div> 
    </div>
    {{include GameSlot Footer}} 
    <div class="up1"></div>
</body>
{{include GameSlot Last}}
</html>