<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{include GameSlot Head}}

<body class="vn2">
    <div id="page">
        div class="ft-img1><span><img src="/cached_files/img/b2.png" alt=""></span></div>
        <header id="header">
            <a href="" class="logo"><img src="/cached_files/img/logo2.png" alt=""></a>
            <a href="" class="link-social1">Мы в<br>соц. сетях:</a>
            <div class="r-head">
                <div class="ct-t1">
                    <div class="ll1">
                        <div class="av-s1"><a href=""><img src="/cached_files/img/av2.png" alt=""><span>Boogie</span></a></div>
                        <ul class="tt-ul1">
                            <li><a href="">Тусовка</a></li>
                            <li><a href="">Инвентарь</a></li>
                            <li><a href="">Достижения</a></li>
                            <li class="pay1"><span>1233</span> <a href="">Пополнить</a></li>
                            <li><a href="">Выйти</a></li>
                        </ul>
                        <div class="onl1">Online: <b>1200</b></div>
                    </div>
                    <div class="rr1">
                        <ul>
                            <li>язык:</li>
                            <li><a href="">Рус</a></li>
                            <li class="active"><a href="">Eng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ct-t2">
                    <div class="main-menu">
                        <a href="" class="main-1"></a>
                        <ul>
                            <li class="j1"><a href="">Топ победителей</a></li>
                            <li class="j2"><a href="">История игр</a></li>
                            <li class="j3"><a href="">Честная игра</a></li>
                            <li class="j4"><a href="">Как поставить вещи</a></li>
                            <li class="j5"><a href="">FAQ</a></li>
                        </ul>
                    </div>
                    <a href="" class="store1"><span>Магазин</span></a>
                </div>
                <div class="ct-t3">
                    <span>Лотереи:</span>
                    <a href="" class="j1">CS go</a>
                    <a href="" class="j2">dota2</a>
                    <a href="" class="j3">Team fortress</a>
                </div>
            </div>
        </header>
        <div class="pl-big-st1 pl-big-st11 pl-big-st112">
            <div class="bg-dsk1">
                <i></i>
                <div></div>
            </div>
            <div class="fk1"></div>
            <div class="fk4"></div>
            <div class="fk5"></div>
            <div class="fk6"></div>
            <div class="cont-pl1">
                <div class="tb-m1">
                    <div class="numb1">
                        <div><span>Номер<br>Игры</span></div>
                        <i>#000-123-456</i>
                    </div>
                    <div class="dj1">
                        <div><span>Джек<br>пот</span></div>
                        <i class="numb2"><b>0</b> предметов</i>
                        <b class="eft-pl1 j1"></b>
                    </div>
                    <div class="dj2">
                        <div><span></span></div>
                        <i class="rub1">0</i>
                        <b class="eft-pl1 j2"></b>
                    </div>
                    <div class="action-chet1">
                        <div class="tit-chet1">Начнется через:</div>
                        <div class="ch-tt1"><span>00</span><i>:</i><span>00</span></div>
                        <b class="eft-pl1 j3"></b>
                        <a href="" class="start-game1 start-game11">Принять участие</a>
                    </div>
                    <div class="r-text1">
                        <div class="ep-tit1"><span>Правила:</span><a href="">Подробнее</a></div>
                        <p class="j1">Чем выше стоимость ставки, тем больше<br>шанс победы</p>
                        <p class="j2">Минимальная цена предмета — 250</p>
                        <p class="j3">Максимальная разовая ставка — 24 предметов</p>
                        <p class="j4">Когда поступает новый взнос, то к таймеру прибавляется дополнительное время в процентном соотношении внесенной суммы от суммы банка.</p>
                    </div>
                </div>
                <div class="nav-st1">
                    <a href="">Принципы честной игры</a>
                    <span>Хэш раунда:</span>
                    <i>c81cff1134476888452970635acd1a1b</i>
                </div>
                <div class="bl-sld-bi1">
                    <div class="tt1">Самые крутые предметы розыгрыша:</div>
                    <div class="tt2">Топ 1</div>
                    <!--<div class="nn1"></div>
                    <div class="pp1"></div>-->
                    <div class="owl1 owl-carousel owl-theme">
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-ic-t1">
                                <img src="/cached_files/img/sld-img1.jpg" alt="">
                                <span>200,260</span>
                                <a href=""></a>
                                <div class="tiltp">Nakuls Sword</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="content2">
            <div class="bl-ov-et1 ya2">
                <div class="bg-bl-ov1">
                    <div></div>
                </div>
                <div class="ya1"></div>
                <div class="head-bl-et1">
                    <div class="av-ll1">
                        <img src="/cached_files/img/av3.png" alt="">
                        <div>
                            <div>
                                <span>Bobby dodo</span>
                                <i>лобби:</i>
                                <b>Blue ayes</b>
                            </div>
                        </div>
                    </div>
                    <div class="bl-st2">
                        <div class="evr1">
                            <a href="" class="j1">18</a>
                            <a href="" class="j2">100,230,900</a>
                            <a href="" class="j3">00123421-03235000</a>
                        </div>
                        <div class="gt1">Предметы</div>
                        <div class="gt1 gt11">Жетоны</div>
                        <a href="" class="sp-tt1" dt="0"></a>
                        <div class="ovr-cont1">
                            <div class="content3">
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-rr1">
                        <div class="over-lt-rt1">
                            <div class="lt1">
                                <p><span>Ставок:</span><i class="j1">4</i></p>
                                <p><span>Всего:</span><i class="j2">4008</i></p>
                            </div>
                            <div class="rt1">
                                <p><span>Шанс победы:</span><i class="j3">23,34%</i></p>
                                <p><i class="j4">9,190,230</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-ic-more-s1">
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                        <div class="tiltp">Nakuls Sword</div>
                    </div>
                </div>
            </div>
            <div class="bl-ov-et1">
                <div class="bg-bl-ov1">
                    <div></div>
                </div>
                <div class="head-bl-et1">
                    <div class="av-ll1">
                        <img src="/cached_files/img/av3.png" alt="">
                        <div>
                            <div>
                                <span>Bobby dodo</span>
                                <i>лобби:</i>
                                <b>Blue ayes</b>
                            </div>
                        </div>
                    </div>
                    <div class="bl-st2">
                        <div class="evr1">
                            <a href="" class="j1">18</a>
                            <a href="" class="j2">100,230,900</a>
                            <a href="" class="j3">00123421-03235000</a>
                        </div>
                        <div class="gt1">Предметы</div>
                        <div class="gt1 gt11">Жетоны</div>
                        <a href="" class="sp-tt1 diss1" dt="2"></a>
                        <div class="ovr-cont1">
                            <div class="content3">
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-rr1">
                        <div class="over-lt-rt1">
                            <div class="lt1">
                                <p><span>Ставок:</span><i class="j1">4</i></p>
                                <p><span>Всего:</span><i class="j2">4008</i></p>
                            </div>
                            <div class="rt1">
                                <p><span>Шанс победы:</span><i class="j3">23,34%</i></p>
                                <p><i class="j4">9,190,230</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-ic-more-s1">
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="bl-ov-et1">
                <div class="bg-bl-ov1">
                    <div></div>
                </div>
                <div class="head-bl-et1">
                    <div class="av-ll1">
                        <img src="/cached_files/img/av3.png" alt="">
                        <div>
                            <div>
                                <span>Bobby dodo</span>
                                <i>лобби:</i>
                                <b>Blue ayes</b>
                            </div>
                        </div>
                    </div>
                    <div class="bl-st2">
                        <div class="evr1">
                            <a href="" class="j1">18</a>
                            <a href="" class="j2">100,230,900</a>
                            <a href="" class="j3">00123421-03235000</a>
                        </div>
                        <div class="gt1">Предметы</div>
                        <div class="gt1 gt11">Жетоны</div>
                        <a href="" class="sp-tt1" dt="0"></a>
                        <div class="ovr-cont1">
                            <div class="content3">
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                                <div class="item1">
                                    <a href="" class="j1">18</a>
                                    <a href="" class="j2">100,230,900</a>
                                    <a href="" class="j3">00123421-03235000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-rr1">
                        <div class="over-lt-rt1">
                            <div class="lt1">
                                <p><span>Ставок:</span><i class="j1">4</i></p>
                                <p><span>Всего:</span><i class="j2">4008</i></p>
                            </div>
                            <div class="rt1">
                                <p><span>Шанс победы:</span><i class="j3">23,34%</i></p>
                                <p><i class="j4">9,190,230</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-ic-more-s1">
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                    <div class="item1">
                        <img src="/cached_files/img/sld-img1.jpg" alt="">
                        <span>124</span>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </section>
        <a href="" class="show-more-items1 active">Показать ещё</a>
        <div class="bt-ov-ft1">
            <div class="item1">
                <div class="et-tt1">Максимальный джекпот за всё время:</div>
                <div class="sp-con1">
                    <div class="j1">92,235,345</div>
                    <div class="j2">400 <span>предметов</span></div>
                </div>
            </div>
            <div class="item1">
                <div class="et-tt1 j1">Сегодня сыграно</div>
                <div class="sp-con1 j1">
                    <div class="j3">1300 <b>игр</b></div>
                </div>
            </div>
            <div class="item1">
                <div class="et-tt1">Максимальный джекпот за Сегодня:</div>
                <div class="sp-con1">
                    <div class="j1">92,235,345</div>
                    <div class="j2">400 <span>предметов</span></div>
                </div>
            </div>
        </div>
{{include GameSlot Footer}}
    </div>

    <div class="up1"></div>
</body>
</html>